<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PracticeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidpractice"
        tools:targetApi="31">
        <activity
            android:name=".flows.FlowsPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.CoroutinesPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.ViewModelPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".navigation_component.NavigationPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".permissions.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifecyclePracticeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ThirdActivity"
            android:exported="false"
            android:label="ThirdActivity" />
        <activity
            android:name=".activities.SecondActivity"
            android:exported="false"
            android:label="SecondActivity" />
        <activity
            android:name=".activities.FirstActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="FirstActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>